.my-profile-wrapper{
    background-image: url("../../../../assets/images/explore.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    padding-top: 100px;
    overflow-y: auto;
}

.profile-info{
    background-color: var(--white);
    width: 35vw;
    height: 82vh;
    border-radius: 10px;
}

.box2 {
    width: 250px;
    border-width: 3px 3px 5px 5px;
    border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
}

.box {
    width: 150px;
    height: 150px;
    background: transparent;
    border: solid black;
    border-color: black;
}

.evenboxinner {
    transform: rotate(2deg);
    margin: auto;
    padding: 0;
    background: #ddd;
    border: 1px solid #222;
    box-shadow: 3px 3px 0 #222;
    width: 90%;
    height: 90%;
    overflow: hidden;
}

.evenboxinner img {
    width: 100%;
    object-fit: cover;
}

.update-button{
    background-color: var(--primary-color) !important;
}

.tour-info{
    background-color: var(--white);
    width: 35vw;
    height: 40vh;
    border-radius: 10px;
    margin-bottom: 1vw;
}

.follow-info {
    margin-top: 25px;
}

.follow-info div {
    text-align: center;
    margin-bottom: 10px;
}

.follower-link, .tour-link {
    color: #dcdedc;
}

.follower-link:hover{
    cursor: pointer;
}


.tour-info {
    overflow-y: auto; 
    max-height: 300px; 
    padding-right: 10px; 
  }
  
  .tour-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .tour-card h3 {
    margin-bottom: 8px;
  }
  
  .price {
    text-align: right;
    font-weight: bold;
    color: #007bff;
  }
  
  .paragrpah-tour {
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
  }

.level{
    display: block;
    width: 100%;
}
  
  