<div class="landing-page-wrapper">
    <canvas id="bg"></canvas>

    <div class="row">
        <div class="content">
            <div class="col-sm-8">
                <h1>Choose your own adventure</h1>
                <p>and travel with van hehe</p>
            </div>
        </div>
    </div>

    <div class="sign-position">
        <img class="img-fluid sign-post" src="../../../../assets/images/sign-post.png">
        <button class="sign-button sign-button-1" (click)="moveVan()">Adventure</button>
        <button class="sign-button sign-button-2" (click)="moveVan()">Culture</button>
        <button class="sign-button sign-button-3" (click)="moveVan()">Nature</button>
        <button class="sign-button sign-button-4" (click)="moveVan()">Events</button>
    </div>
</div>