<div>
    <h1>Create new tour</h1>
    <form class="tourCreationForm" [formGroup]="campaignForm">
        <mat-form-field class="form-field" >
            <mat-label>Name:</mat-label>
            <input matInput formControlName="name" type="text" />
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Description:</mat-label>
            <textarea matInput formControlName="description" rows="5"></textarea>
          </mat-form-field>
    </form>

    <div class="dialog-buttons">
        <button mat-button (click)="onCancelClick()" >Cancel</button>
        <button mat-button (click)="createCampaign()" >Create</button>
    </div>
</div>