<footer class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>Follow us on</p>

        <div class="social-icons">
          <ul>
            <li>
              <img
                src="../../../../assets/images/facebook.png"
                alt="Facebook"
              />
            </li>
            <li>
              <img
                src="../../../../assets/images/instagram.png"
                alt="Instagram"
              />
            </li>
            <li>
              <img src="../../../../assets/images/twitter.png" alt="Twitter" />
            </li>
            <li>
              <img
                src="../../../../assets/images/linkedin.png"
                alt="LinkedIn"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
