<div class="centered-container">
    <div>
        <form [formGroup]="tourProblemForm">
            <p>Report a problem</p>
            <div class="tour-problem-form">
                <mat-form-field class="example-form-field">
                    <mat-label>Category</mat-label>
                    <mat-select matInput formControlName="category">
                        <mat-option value="Booking">Booking</mat-option>
                        <mat-option value="Itinerary">Itinerary</mat-option>
                        <mat-option value="Payment">Payment</mat-option>
                        <mat-option value="Transportation">Transportation</mat-option>
                        <mat-option value="Guide_Services">Guide services</mat-option>
                        <mat-option value="Other">Other</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="example-form-field">
                    <mat-label>Priority</mat-label>
                    <mat-select matInput formControlName="priority">
                        <mat-option value="Low">Low</mat-option>
                        <mat-option value="Medium">Medium</mat-option>
                        <mat-option value="High">High</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="example-form-field">
                    <mat-label>Description</mat-label>
                    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" formControlName="description"
                        cdkAutosizeMaxRows="5"></textarea>
                </mat-form-field>
                <button class="bottom-right-button" type="submit" (click)="reportProblem()" mat-raised-button>Report</button>
            </div>
        </form>
    </div>
</div>