<div>
  <div class="home-page">
    <div class="background-wrapper" d-flex justify-content-center align-items-center>
      <div id="full-page-bg">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-8">
              <div class="content">
                <h1 class="hidden">Travelo</h1>
                <p class="hidden">
                  Travel is good for soul!<br />
                  We have chosen for you the best adventures that you can embark
                  on
                </p>
                <div class="btn-container hidden">
                  <div class="center">
                    <button (click)="scrollToExplorePage()" class="btn">
                      <svg width="200px" height="50px" viewBox="0 0 200 50" class="border">
                        <polyline points="0,0 200,0 200,50 0,50 0,0" class="bg-line" />
                        <polyline points="0,0 200,0 200,50 0,50 0,0" class="hl-line" />
                      </svg>
                      <span>Explore more</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="background-wrapper-2" d-flex justify-content-center align-items-center>
      <div id="explore-page-bg" #explorePage>
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div class="content">
                <h1 class="hidden">Featured tours</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="container hidden">
          <div class="row">
            <div class="col-8 offset-2 col-md-4 offset-md-0 col-lg-4 offset-lg-0">
              <div class="card">
                <img src="../../../../assets/images/skilift.jpg" class="card-img-top" alt="..." />
                <div class="overlay">
                  <h4>Lorem Ipsum</h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Mauris vitae odio pharetra, interdum felis vel, imperdiet
                    risus. Curabitur tincidunt id eros at egestas. Phasellus
                    auctor ac risus sed ullamcorper. Pellentesque habitant morbi
                    tristique senectus et netus et malesuada fames ac turpis
                    egestas. Etiam elementum pharetra tincidunt. Quisque aliquam
                    elit lacus, tincidunt porttitor tortor fringilla in.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-8 offset-2 col-md-4 offset-md-0 col-lg-4 offset-lg-0">
              <div class="card">
                <img src="../../../../assets/images/monastery.jpg" class="card-img-top" alt="..." />
                <div class="overlay">
                  <h4>Lorem Ipsum</h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Mauris vitae odio pharetra, interdum felis vel, imperdiet
                    risus. Curabitur tincidunt id eros at egestas. Phasellus
                    auctor ac risus sed ullamcorper. Pellentesque habitant morbi
                    tristique senectus et netus et malesuada fames ac turpis
                    egestas. Etiam elementum pharetra tincidunt. Quisque aliquam
                    elit lacus, tincidunt porttitor tortor fringilla in.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-8 offset-2 col-md-4 offset-md-0 col-lg-4 offset-lg-0">
              <div class="card">
                <img src="../../../../assets/images/cottage.jpg" class="card-img-top" alt="..." />
                <div class="overlay">
                  <h4>Lorem Ipsum</h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Mauris vitae odio pharetra, interdum felis vel, imperdiet
                    risus. Curabitur tincidunt id eros at egestas. Phasellus
                    auctor ac risus sed ullamcorper. Pellentesque habitant morbi
                    tristique senectus et netus et malesuada fames ac turpis
                    egestas. Etiam elementum pharetra tincidunt. Quisque aliquam
                    elit lacus, tincidunt porttitor tortor fringilla in.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-div">
        <xp-footer></xp-footer>
      </div>
    </div>
  </div>
</div>