<div class="map-view-container">
    <div class="sections">
        <div class="menu-section">
            <!--BUTTON SECTION-->
            <div class="container-fluid button-section">
                <div class="row d-flex justify-content-around">
                    <div class="col-sm-4 d-flex flex-column align-items-center pt-3">
                        <button mat-icon-button class="button-color mb-1" (click)="openAddPublicKeyPoint()">
                            <mat-icon>add_location</mat-icon>
                        </button>
                        <div class="mt-1 text-center text-wrap">New keypoint</div>
                    </div> 
                    <div class="col-sm-4 d-flex flex-column align-items-center pt-3">
                        <button mat-icon-button class="button-color mb-1" (click)="openAddPublicFacilitiy()">
                            <mat-icon>home</mat-icon>
                        </button>
                        <div class="mt-1 text-center text-wrap">New facility</div>
                    </div> 
                    <div class="col-sm-4 d-flex flex-column align-items-center pt-3">
                        <button mat-icon-button class="button-color mb-1" (click)="openAddNewTour()">
                            <mat-icon>map</mat-icon>
                        </button>
                        <div class="mt-1 text-center text-wrap">New tour</div>
                    </div>
                </div>

                <div class="row d-flex justify-content-around">
                    <div class="col-sm-4 d-flex flex-column align-items-center pt-3">
                        <button mat-icon-button class="button-color mb-1" (click)="showPublicKeyPoint()">
                            <mat-icon>place</mat-icon>
                        </button>
                        <div class="mt-1 text-center text-wrap">Show keypoints</div>
                    </div> 
                    <div class="col-sm-4 d-flex flex-column align-items-center pt-3">
                        <button mat-icon-button class="button-color mb-1" (click)="showPublicFacilities()">
                            <mat-icon>local_activity</mat-icon>
                        </button>
                        <div class="mt-1 text-center text-wrap">Show facilities</div>
                    </div> 
                    <div class="col-sm-4 d-flex flex-column align-items-center pt-3 mb-3">
                        <button mat-icon-button class="button-color mb-1" (click)="showAllPublic()">
                            <mat-icon>my_location</mat-icon>
                        </button>
                        <div class="mt-1 text-center text-wrap">Show all</div>
                    </div>
                </div>
            </div>

            
            <!--TOUR SECTION-->
            <div class="tours-section container-fluid p-4">
                <div class="row d-flex flex-column">
                    <div class="mt-2 h3 fw-2">My tours</div>
                    <div *ngFor="let tour of tours" class="tour-card rounded-pill my-2" (click)="showTourOnMap(tour.id)">
                        <p>{{ tour.name }}</p>
                        <div class="dialog-buttons">
                            <button mat-button (click)="onEditClick(tour.id)">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="map-section ms-4">
            <xp-map [mapId]="'map-view-map'" class="map"></xp-map>
        </div>
    </div>
</div>